{% extends "base.html" %}

{% block scripts %}
<style>
    h5 {
        color: #FF8000;
    }

    .card {
        border-radius: 0;
        border-width: 3px;
        margin-top: 30px;
        margin-bottom: 30px;
        min-height: 120px;
        font-size: 18px;
    }

    #card1 {
        border-color: rgb(112,112,112);
        font-size: 18px;
    }

    #card2 {
        border-color: rgb(112,112,112);
        background-color: rgb(112,112,112);
    }

    #card3 {
        border-color: #FF8000;
        background-color: white;
    }
</style>
{% endblock %}


{% block content %}
<div class="jumbotron jumbotron-fluid bg-custom" style="background-color:#FF8000; background-size:270%;max-height:170px;">
    <div class="container-fluid mt-0">
        <h1 style="color:#fff" class="ml-5 align-middle">
            <span itemprop="headline">DASHBOARD</span>
        </h1>
    </div>
</div>

<div class='container'>
    <h5>Lodged Requests</h5>
    <div class="card border-custom" id="card1" valign="middle">
        <div class="card-body">
            <div style="margin-bottom:10px;"><i>You currently have {% if requests %}a{% else %}no{% endif %} lodged assistance request.</i></div>
            {% if requests %}
            <button class="btn bg-custom border-custom" style="margin-bottom:20px;border-radius:0; background-color:white;border-color:#FF8000;border-width:2px;" onClick="window.location.reload();">Refresh</button>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Location</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for request in requests %}
                    <tr>
                        <td>{{ request.id }}</td>
                        <td>{{ request.latitude }}, {{ request.longitude }}</td>
                        <td>
                            {% if request.isApproved %}
                            {% if request.isClosed %}
                            Repairer on the way.
                            {% else %}
                            Response Received
                            {% endif %}
                            {% else %} Pending... {% endif %}
                        </td>
                        <td>
                            {% if request.isClosed %}
                            <a class="btn btn-primary" href="{% url 'finalize_request' request.id %}">Mark Complete</a>
                            {% else %}
                            {% if request.isApproved %}<a class="btn btn-primary" href="{% url 'view_responses' request.id %}">View &raquo;</a>{% endif %}
                            <a class="btn btn-secondary" href="{% url 'withdraw' request.id %}">
                                Withdraw</button>
                                {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>

    {% if requests|length == 0 %}
    <h5>Lodge a Request</h5>

    <div class="card border-custom" id="card2" valign="middle">
        <div class="card-body text-white">
            Tell us your location and we'll send you assistance. <br />
            <a href="{% url 'lodge' %}" class='btn border-custom bg-custom text-white' style="min-width:90px;border-radius:0;background-color:#FF8000;margin-top:15px;">Lodge &raquo;</a>
        </div>
    </div>
    {% endif %}

    <h5>Your Account</h5>
    <div class="card border-custom" id="card3" valign="middle">
        <div class="card-body">
            Check out your payment and service history. <br />
            <a href="{% url 'reports' %}" class='btn border-custom bg-custom text-white' style="min-width:90px;border-radius:0;background-color:rgb(112,112,112);margin-top:15px;">View &raquo;</a>

        </div>

    </div>
</div>


{% endblock %}

