{% extends "base.html" %}

{% block content %}

<div class='p-5'>
    <h1 class='display-2'>Dashboard</h1>
    <h2>You currently have {{ requests|length }} lodged assistance requests.</h2>
    {% if requests %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Location</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for request in requests %}
            <tr>
                <td>{{ request.id }}</td>
                <td>{{ request.latitude }}, {{ request.longitude }}</td>
                <td>
                {% if request.isApproved %} Repairer on the way
                {% else %} Pending... {% endif %}
                </td>
                <td>
                    <button type="button" class="btn btn-secondary">Withdraw</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <div class='row'>
        <div class='col-sm-6'>
            <div class='card'>
                <div class='card-body'>
                    <h5 class='card-title'>Lodge a Request</h5>
                    <p class='card-text'>Tell us your location and we'll send you assistance</p>
                    <a href="{% url 'lodge' %}" class='btn btn-primary'>Lodge &raquo;</a>
                </div>
            </div>
        </div>
        <div class='col-sm-6'>
            <div class='card'>
                <div class='card-body'>
                    <h5 class='card-title'>Your Account</h5>
                    <p class='card-text'>Check out past calls, and what you've done in the past.</p>
                    <a href="{% url 'lodge' %}" class='btn btn-secondary'>View &raquo;</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}