{% extends "base.html" %}

{% block scripts %}
<style>
    .pricing-header {
    max-width: 700px;
    }
</style>
{% endblock %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">EzyAssist</h1>
  <p class="lead">EzyAssist is the roadside assistance solution of the future. Choose from a series of memberships and get help when you need it, where you need it</p>
</div>

  <div class="card-deck mb-3 text-center">

    {% for model in models %}
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{ model.name }}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">${{ model.yearlyPrice }}<small class="text-muted">/ year</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>{% if model.numCallouts > 0 %} {{model.numCallouts}} Free Callouts{% else %} Unlimited Callouts{% endif %}*</li>
          <li>Verified Repair Partners</li>
          <li>1 Hour Guarantee</li>
        </ul>
        <small class='mb-3 text-muted'>* ${{ model.calloutFee }} a callout after free callouts used.</small>
        <button type="button" onclick="window.location.href='{% url 'signup' %}'" class="btn btn-lg btn-block {% if model.yearlyPrice > 0 %} btn-primary">Sign up {% else %} btn-outline-primary">Sign up for free {% endif %}</button>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}