
{% extends "base.html" %}

{% block scripts %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
crossorigin=""/>

<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
crossorigin=""></script>
<style>
    #leafletmap {
        height: 400px;
        padding-top: 75%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .lodgeArea {
        padding-top: 40px;
        padding-bottom: 20px;
    }
</style>
{% endblock %}

{% block content %}
<div class='lodgeArea'>
    <h2>Lodge</h2>

    <p>Please fill out the form below and we will quickly scramble the closest repair expert to assist you!</p>

    <form id='formSubmitIncident' action="{% url 'lodge' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for='infoText'>Incident Details</label>
            <textarea class="form-control" id='infoText' name='request_details'></textarea>
            <small id="infoHelp" class="form-text text-muted">Please be as detailed as possible.</small>
        </div>
    </form>

    <h3>Select Incident Location</h3>
    <form class='form-inline'>
        <div class='form-group'>
            <label for='addressInput' class='sr-only'>Address</label>
            <input type='text' placeholder='Enter Address' id="addressInput" value="{{ userProfile.address }}" class='form-control'>
        </div>
        <button type='button' onClick='gotoAddress()' class='btn btn-primary'>Go</button>
    </form>
    <div id='addressWarning' style='display:none' class="alert alert-warning" role="alert">
        Couldn't find address!
    </div>
    <div id="leafletmap"></div>
    <div class="alert">
        {{errors}}
    </div>
    <input type='submit' value='Submit Request' class='btn btn-primary' form='formSubmitIncident' >

</div>

<script>

    var theMap = L.map('leafletmap').setView([-34.4050554, 150.8783465], 13);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {}).addTo(theMap);

    var marker = L.marker([-34.4050554, 150.8783465], {"draggable":true}).addTo(theMap)
                .bindPopup('<b>Please</b> move this marker to your exact breakdown location. <span style="font-size: 12px">Thanks!</span>')
                .openPopup();

    var latitude = marker.getLatLng()['lat'];

    $("#formSubmitIncident").submit( function(eventObj) {
        var submitLat = marker.getLatLng()['lat'].toString();
        var submitLong = marker.getLatLng()['lng'].toString();

        submitLat = submitLat.substring(0, 7);
        submitLong = submitLong.substring(0, 7);

        $('<input />').attr('type', 'hidden')
            .attr('name', 'latitude')
            .attr('value', submitLat)
            .appendTo('#formSubmitIncident');

        $('<input />').attr('type', 'hidden')
            .attr('name', 'longitude')
            .attr('value', submitLong)
            .appendTo('#formSubmitIncident');

        return true;
    });

    function gotoAddress() {
        var newAddress = document.getElementById("addressInput").value;
        var query = 'https://api.opencagedata.com/geocode/v1/json?q='+newAddress + "&key=6570588bba6b4f288c8315c735b08c59";
        console.log(query);

        $.get(query, function(data, statustext, xhr){
            console.log(xhr.status);
            if (xhr.status == 200 && data['results']['0']) {
                // Data is now a JSON object that we can manipulate
                var latitude = data['results']['0']['geometry']['lat'];
                var longitude = data['results']['0']['geometry']['lng'];
                var latlng = L.latLng(latitude, longitude);
                theMap.panTo(latlng);
                marker.setLatLng(latlng);
                $("#addressWarning").hide();
            } else {
                $("#addressWarning").fadeIn(1000);
            }
        });
    }

    gotoAddress();
</script>

{% endblock %}