{% extends "base.html" %}

{% block scripts %}
<style>
   
</style>
{% endblock %}

{% block content %}



<form action='{% url 'profile' %}' method="POST">
    {% csrf_token %}
    <div class='row'>
        <div class='col p-5'>
            <div class='form-group'>
                {% if form.address.errors %}<div class='alert alert-danger' role='alert'>{{ form.address.errors }}</div>{% endif %}
                <label for="{{ form.address.id_for_label }}">Address</label>
                {{ form.address }}
            </div>
            <div class='form-group'>
                {% if form.registration.errors %}<div class='alert alert-danger' role='alert'>{{ form.registration.errors }}</div>{% endif %}
                <label for="{{ form.registration.id_for_label }}">Car Registration</label>
                {{ form.registration }}
            </div>
            {% if not form.isServicer %}
            <div class="card" id='plansCard' style="width: 18rem;">
                <div class="card-header">
                    Change Plan
                </div>
                <ul class="list-group list-group-flush">
                    {% for pricing in pricings %}
                    <li class="list-group-item"><input class="form-check-input" type="radio" name="{{ form.subscription.html_name }}" value="{{ pricing.id }}" {% if pricing.id == form.subscription.initial %}checked {% endif %}required><label class='form-check-label'>{{ pricing.name }}<small class='text-secondary'> ${{ pricing.yearlyPrice }}/Year</small></label></li>
                    {% endfor %}
                </ul>
            </div>
            {% else %}
            <input type="hidden" name="{{ form.subscription.html_name }}" value="0" />
            <a href="{{ userProfile.optionalDocument.document.url }}" class='btn btn-primary'>View Documentation &raquo;</a>
            {% endif %}
        </div>
    </div>
    {% if hasErrors %}
    <div class='alert alert-warning'>
        Invalid value specified.
    </div>
    {% endif %}
    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="btn btn-secondary" href="{% url 'dash' %}">Cancel</a>
</form>

{% endblock %}