{% extends "base.html" %}

{% block content %}

<div class="p-5 container">
<h2>Assistance Responses</h2>
<p>Please select an assistance request to respond to, or choose to delete an assistance request.</p>

<div class="row">
{% for assistance_response, avgRating, ratingCount in responses %}
<div class="col-sm-6">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><a href="{% url 'ratings' assistance_response.repairer.id %}" >{{ assistance_response.repairer.get_full_name }}</a></h5>
            <p><b>Quote: </b> ${{ assistance_response.quote }} </p>
            <p class="card-text small"><b>Average Rating: </b> {{ avgRating }} from {{ ratingCount }} reviews.</p>
            <p class="card-text"><b>Email: </b>{{ assistance_response.repairer.email }}</p>
            <a href="{% url 'approve_response' assistance_response.id %}" class="btn btn-success">Accept</a>
            <a href="{% url 'remove_response' assistance_response.id %}" class="btn btn-fail">Remove</a>
        </div>
    </div>
</div>
{% if forloop.counter|divisibleby:2 %}
</div>
<div class="row">
{% endif %}

{% endfor %}
</div>
 
</div>

{% endblock %}