{% extends "base.html" %}

{% block content %}

<div class='p-5 container'>
    <h1 class='display-2'>Dashboard</h1>
    <p class='lead'>
        Currently Active Service Requests
    </p>
    <form action="{% url 'dash' %}" method="POST">
        {% csrf_token %}
        <div class='form-row align-items-center'>
            <label for='radius' class='col-sm-2 col-form-label col-form-label-sm'>Show Within Distance</label>
            <div class='col-sm-6'>
                {{ dist_form.as_table }}
            </div>
            <div class='col-sm-2'>
                <button class='btn btn-sm btn-primary' type='submit'>Refresh</button>
            </div>
        </div>
    </form>
    {% if requests %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Distance</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for request, distance, own in requests %}
            <tr>
                <td>{{ request.id }}</td>
                <td>{{ distance }}km</td>
                <td>{{ request.request_details }}</td>
                <td>
                {% if request.isApproved %} 
                {% if request.isClosed %}
                {% if own %}
                Waiting for customer to mark complete.
                {% else %}
                Closed.
                {% endif %}
                {% else %}
                Awaiting Response...
                {% endif %}
                {% else %}
                Open
                {% endif %}
                </td>
                <td>
                    {% if own %}
                        {% if not request.isClosed %}
                        <a class="btn btn-secondary" href="{% url 'withdraw_response' request.id %}">Withdraw</button>
                        {% endif %}
                    {% else %} 
                        {% if not request.isClosed %}
                        <a class="btn btn-primary" href="{% url 'respond' request.id %}">Respond</button>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <div class='row'>
        <div class='container mt-5'>
            <div class='card'>
                <div class='card-body'>
                    <h5 class='card-title'>Your Account</h5>
                    <p class='card-text'>Check your past assistance responses, and transaction logs.</p>
                    <a href="{% url 'lodge' %}" class='btn btn-secondary'>View &raquo;</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}