{% extends "base.html" %}


{% block content %}


<div class='container'>
    <h1>Service History Report</h1>
    {% if entries %}
    <table class="table">
    <thead class="thead-dark">
        <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Quote</th>
        <th scope="col">Description</th>
        </tr>
    </thead>
    {% for date, quote, description in entries %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ date }}</td>
      <td>{{ quote }}</td>
      <td>{{ description }}</td>
    </tr>
    {% endfor %}
    </table>
    {% else %}
    <p>No entries to display.</p>
    {% endif %}
</div>

{% endblock %}