{% extends "base.html" %}

{% block scripts %}
<style>

</style>
{% endblock %}

{% block content %}

<form action='{% url 'signup' %}' method="POST">
    {% csrf_token %}
    <div class='row'>
        <div class='col-sm p-5'>
            <div class="form-group">
                <label for="exampleInputEmail1">Your Details *</label>
                <input type="text" class="form-control" name='username' placeholder="Enter Username" required>
            </div>
            <div class="form-row form-group">
                <div class="col">
                    <input type="text" class="form-control" name='first_name' placeholder="Enter First Name" required>
                </div>
                <div class="col">
                    <input type="text" class="form-control" name='last_name' placeholder="Enter Last Name" required>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address *</label>
                <input type="email" class="form-control" name='email' placeholder="Enter Email Address" required>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Home address</label>
                <input type="text" class="form-control" name='address' aria-describedby="emailHelp" placeholder="Home Address">
                <small id="emailHelp" class="form-text text-muted">We have a very stringent privacy policy. We'll never share your home address.</small>
            </div>
            <div class="form-row form-group">
                <div class="col">
                    <input type="password" class="form-control" name='password1' placeholder="Password">
                </div>
                <div class="col">
                    <input type="password" class="form-control" name='password2' placeholder="Confirm Password">
                </div>
            </div>
            <div class="form-group">
                <label>I am a...</label><br />
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="isServicer" id="customerBox" value="False" selected>
                    <label class="form-check-label" for="inlineRadio1">Customer</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="isServicer" id="repairerBox" value="True">
                    <label class="form-check-label" for="inlineRadio2">Service Provider</label>
                </div>
            </div>
            <div class="card" id='plansCard' style="width: 18rem;">
                <div class="card-header">
                    Plans
                </div>
                <ul class="list-group list-group-flush">
                    {% for pricing in pricings %}
                    <li class="list-group-item"><input class="form-check-input" type="radio" name="subscription" value="{{ pricing.id }}" required><label class='form-check-label'>{{ pricing.name }}<small class='text-secondary'> ${{ pricing.yearlyPrice }}/Year</small></label></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% if hasErrors %}
    <div class="alert alert-danger" role="alert">
     {{ errors }}
    </div>
    {% endif %}
  <button type="submit" class="btn btn-primary">Submit</button>

  <script>
    $('#repairerBox').on('click', function(e) {
        $('#plansCard').fadeOut(500);
    });

    $('#customerBox').on('click', function(e) {
        $('#plansCard').fadeIn(500);
    });
  </script>
</form>

{% endblock %}